<p class="fr-text--sm fr-mb-1w fr-mt-2w">
  Les flux annuels liés à l'accroissement net de la biomasse en forêts&nbsp;:
</p>
<p class="fr-text--sm fr-mb-0">
  Le Bilan total unitaire (m3 BFT/ha/an) est calculé en soustrayant à l’accroissement biologique des forêts la mortalité et les prélèvements de bois.
</p>
<table class="fr-table fr-table--blue-cumulus fr-mb-1w">
  <thead>
    <th class="fr-text--xs">Composition</th>
    <th class="fr-text--xs">Surface (ha)</th>
    <th class="fr-text--xs">Accroissement biologique unitaire (m<sup>3</sup>&nbsp;BFT/ha/an)</th>
    <th class="fr-text--xs">Mortalité unitaire (m<sup>3</sup>&nbsp;BFT/ha/an)</th>
    <th class="fr-text--xs">Prélèvements de bois unitaire (m<sup>3</sup>&nbsp;BFT/ha/an)</th>
    <th class="fr-text--xs">Bilan total unitaire (m<sup>3</sup>&nbsp;BFT/ha/an)</th>
    <th class="fr-text--xs">Facteur de conversion (tC/m<sup>3</sup>&nbsp;BFT)</th>
    <th class="fr-text--xs">Flux total unitaire (tCO<sub>2</sub>e/ha/an)</th>
    <th class="fr-text--xs">Flux (tCO<sub>2</sub>e/an)</th>
  </thead>
  <tbody>
    <% for( const detail of forestBiomassSummaryByType ) { %>
    <tr>
      <td><%= allGroundTypes.find(gt => gt.stocksId === detail.to).shortName.toLowerCase() %></td>
      <td style="text-align: right;" nowrap="nowrap">
        <%= formatNumber(detail.area, 1) %><%= detail.areaModified ? ' *' : '' %>
      </td>
      <% if (detail.area) { %>
      <td style="text-align: right;"><%= formatNumber(detail.growth, 2) %></td>
      <td style="text-align: right;"><%= formatNumber(detail.mortality, 2) %></td>
      <td style="text-align: right;"><%= formatNumber(detail.timberExtraction, 2) %></td>
      <td style="text-align: right;"><%= formatNumber(detail.fluxMeterCubed, 2) %></td>
      <td style="text-align: right;"><%= formatNumber(detail.conversionFactor, 2) %></td>
      <td style="text-align: right;"><%= formatNumber(detail.annualFluxEquivalent, 1) %></td>
      <td style="text-align: right;"><%= formatNumber(detail.co2e) %></td>
      <% } else { %>
      <td style="text-align: right;">-</td>
      <td style="text-align: right;">-</td>
      <td style="text-align: right;">-</td>
      <td style="text-align: right;">-</td>
      <td style="text-align: right;">-</td>
      <td style="text-align: right;">-</td>
      <td style="text-align: right;">0</td>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>
<p class="fr-text--sm">BFT : bois fort tige (volume du tronc de l'arbre).</p>
<p class="fr-text--sm fr-mt-1w">
  <a href="https://docs.datagir.ademe.fr/documentation-aldo/flux/specificites-biomasse" target="_blank" rel="noopener noreferrer">
    En savoir plus sur les méthodes de calcul de ces flux
  </a>
</p>