<p class="fr-text--sm fr-mb-1w fr-mt-2w">
  Les flux annuels liés à l'accroissement de la biomasse en forêts&nbsp;:
</p>
<table>
  <thead>
    <th class="fr-text--xs">Composition</th>
    <th class="fr-text--xs">Réservoir</th>
    <th class="fr-text--xs">Flux unitaire (tCO<sub>2</sub>e/ha.an)</th>
    <th class="fr-text--xs">Surface (ha)</th>
    <th class="fr-text--xs">Flux (tCO<sub>2</sub>e/an)</th>
  </thead>
  <tbody>
    <% const forestBiomassFlux = allFlux.filter(f => f.to.startsWith('forêt ')) %>
    <% for( const detail of forestBiomassFlux ) { %>
      <tr>
        <td><%= allGroundTypes.find(gt => gt.stocksId === detail.to).shortName.toLowerCase() %></td>
        <td style="text-align: right;"><%= detail.reservoir %></td>
        <td style="text-align: right;"><%= detail.fluxEquivalent !== undefined ? formatNumber(detail.fluxEquivalent, 1) : '-' %></td>
        <td style="text-align: right;"><%= detail.area %></td>
        <td style="text-align: right;"><%= formatNumber(detail.co2e) %></td>
      </tr>
    <% } %>
  </tbody>
</table>
