<table class="fr-table fr-table--blue-cumulus">
  <thead>
    <th class="fr-text--xs">Occupation initiale</th>
    <th class="fr-text--xs">Reservoir</th>
    <th class="fr-text--xs">Gas</th>
    <th class="fr-text--xs">Flux unitaire (tCO<sub>2</sub>e/ha)</th>
    <th class="fr-text--xs">Surface moyenne convertie (ha/an)</th>
    <th class="fr-text--xs">Flux (tCO<sub>2</sub>e/an)</th>
  </thead>
  <tbody>
    <% if(fluxDetail[groundType]) { %>
      <% for( const detail of fluxDetail[groundType] ) { %>
        <tr>
          <td><%= detail.from %></td>
          <td><%= detail.reservoir || '-' %></td>
          <td><%= detail.gas %></td>
          <td style="text-align: right;"><%= detail.fluxEquivalent !== undefined ? formatNumber(detail.fluxEquivalent, 1) : '-' %></td>
          <td style="text-align: right;"><%= detail.area !== undefined ? formatNumber(detail.area, 1) : '-' %><%= detail.areaModified ? ' *' : '' %></td>
          <td style="text-align: right;"><%= formatNumber(detail.co2e) %></td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>
