<table class="fr-table fr-table--blue-cumulus fr-mb-0">
  <thead>
    <th class="fr-text--xs">Occupation initiale</th>
    <th class="fr-text--xs">Reservoir</th>
    <th class="fr-text--xs">Gaz</th>
    <th class="fr-text--xs">Flux unitaire annuel (tCO<sub>2</sub>e/ha/an)</th>
    <th class="fr-text--xs">Nombre d'années concernées*</th>
    <th class="fr-text--xs">Surface moyenne convertie (ha/an)</th>
    <th class="fr-text--xs">Flux (tCO<sub>2</sub>e/an)</th>
  </thead>
  <tbody>
    <% if(fluxDetail[groundType]) { %>
      <% for( const detail of fluxDetail[groundType] ) { %>
        <tr>
          <td><%= detail.from %></td>
          <td><%= detail.reservoir || '-' %></td>
          <td><%= detail.gas === 'C' ? 'CO2' : detail.gas %></td>
          <td style="text-align: right;"><%= detail.annualFluxEquivalent !== undefined ? formatNumber(detail.annualFluxEquivalent, 1) : '-' %></td>
          <td style="text-align: right;"><%= detail.yearsForFlux !== undefined ? detail.yearsForFlux : '-' %></td>
          <td style="text-align: right;"><%= detail.area !== undefined ? formatNumber(detail.area, 1) : '-' %><%= detail.areaModified ? ' *' : '' %></td>
          <td style="text-align: right;"><%= formatNumber(detail.co2e) %></td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>
<p class="fr-text--xs fr-mb-4w">
  * Ce facteur permet de tenir compte des flux de carbone des terres ayant été converties les 20 dernières années mais qui continuent à émettre/séquestrer du carbone
</p>
