<% const boFlux = allFlux.find(f => f.category === 'bo') %>
<% const biFlux = allFlux.find(f => f.category === 'bi') %>
<p class="fr-text--sm fr-mb-1w">Comment est-ce calculé&nbsp;?</p>
<% if (woodCalculation === 'récolte') { %>
  <p class="fr-text--sm">
    Approche <b>production</b> : répartition du flux de carbone capté en France par les produits bois proportionnelle à la récolte théorique locale
  </p>
  <p class="fr-text--xs">Vous pouvez changer l'approche dans <a href="/territoire/configuration<%= sharingQueryStr %> ">l'onglet configuration</a>.</p>
  <p class="fr-mt-2w">Proportion récolte théorique&nbsp;:</p>
  <ul class="fr-container">
    <%- include('./wood-harvest-portion', { flux: boFlux, category: 'bo' }) -%>
    <%- include('./wood-harvest-portion', { flux: biFlux, category: 'bi' }) -%>
  </ul>
  <p class="fr-text--xs">
    La récolte théorique locale est estimé en considérant que le taux de prélèvement sur les surfaces forestières locales est égale à celui de grande
    région écologique, et que la répartition de cette récolte entre les usages (BO/BI) est égale à celle de la région administrative (calcul ADEME).
  </p>
  <p class="fr-mt-2w">Flux&nbsp;:</p>
  <ul class="fr-container">
    <%- include('./wood-harvest-flux', { flux: boFlux, category: 'bo' }) -%>
    <%- include('./wood-harvest-flux', { flux: biFlux, category: 'bi' }) -%>
  </ul>
<% } else { %>
  <p class="fr-text--sm">
    Approche <b>consommation</b> : répartition du flux de carbone capté en France par les produits bois proportionnelle au nombre d’habitants du territoire
  </p>
  <p class="fr-text--xs">Vous pouvez changer l'approche dans <a href="/territoire/configuration<%= sharingQueryStr %> ">l'onglet configuration</a>.</p>
  <p class="fr-mt-2w">Proportion habitants&nbsp;:</p>
  <div class="fr-container fr-my-1w">
    <p class="formula">
      <span class="captioned-value fr-col-4">
        <!-- could've used boFlux or biFlux since the population doesn't change -->
        <span class="v fr-text--lg"><%= formatNumber(boFlux.localPopulation) %></span>
        <span class="c fr-text--sm">population local</span>
      </span>
      <span class="fr-col-1" style="text-align: center;">/</span>
      <span class="captioned-value fr-col-4">
        <span class="v fr-text--lg"><%= formatNumber(boFlux.francePopulation) %></span>
        <span class="c fr-text--sm">population France</span>
      </span>
      <span class="fr-col-1" style="text-align: center;">≈</span>
      <span class="fr-col-3 v fr-text--lg"><%= formatNumber(boFlux.localPortion * 100, 3) %> %</span>
    </p>
  </div>
  <p class="fr-mt-2w">Flux&nbsp;:</p>
  <ul class="fr-container">
    <%- include('./wood-population-flux', { flux: boFlux, category: 'bo' }) -%>
    <%- include('./wood-population-flux', { flux: biFlux, category: 'bi' }) -%>
  </ul>
<% } %>