<p class="fr-text--sm fr-mb-1w">Comment est-ce calculé&nbsp;?</p>
<p>
  Les stocks de carbone dans le sol sont inclus dans les stocks reliés aux occupations du sol.
  Le stock de la typologie Haies exprime donc uniquement le stock du réservoir "biomasse aérienne" des Haies.
</p>
<br />
<p>Stocks&nbsp;:</p>
<p class="fr-container formula fr-my-2w">
  <span class="captioned-value fr-col-3">
    <span class="v fr-text--lg"><%= round(stock.totalDensity) %> tC/km</span>
    <span class="c fr-text--sm">biomasse aérienne</span>
  </span>
  <span class="fr-col-1" style="text-align: center;">x</span>
  <span class="captioned-value fr-col-3">
    <input
      class="fr-input fr-text--lg"
      type="number"
      inputmode="numeric"
      min="0"
      placeholder="<%= round(stock.originalArea) %>"
      value="<%= stock.areaModified ? round(stock.area) : undefined %>"
      id="surface-haies"
      name="surface_haies"
    >
    <label class="fr-label fr-text--sm" for="surface-haies">linéaire (km)</label>
  </span>
  <span class="fr-col-1" style="text-align: center;">≈</span>
  <span class="fr-col-3 fr-text--lg"><%= round(stock.totalReservoirStock) %> tC</span>
</p>
<br />
<button class="fr-btn" type="submit">
  Mettre à jour
</button>
<table class="fr-table fr-table--blue-cumulus fr-mt-4w fr-mb-0">
  <caption>
    <p>Linéaire haies par typologie du sol</p>
  </caption>
  <thead class="fr-mt-2w">
    <th class="fr-text--xs">Occupation du sol</th>
    <th class="fr-text--xs">Haies (km)</th>
  </thead>
  <tbody>
    <% for( const [stocksId, length] of Object.entries(stock.byGroundType) ) { %>
      <tr>
        <td><%= allGroundTypes.find((gt) => gt.stocksId === stocksId).name %></td>
        <td style="text-align: right;"><%= formatNumber(length) %></td>
      </tr>
    <% } %>
  </tbody>
</table>
