<p class="fr-text--sm fr-mb-1w">Comment est-ce calculé&nbsp;?</p>
<p>Stocks de référence par unité de surface par réservoir&nbsp;:</p>
<ul class="fr-my-2w">
  <% for( const subtype of stocks[stocksId].children ) { %>
    <li class="fr-my-1w">
      <p class="formula">
        <span class="fr-col-2 fr-text--sm fr-mr-2w hyphenate">
          <%= allGroundTypes.find((g) => g.stocksId === subtype).shortName %>&nbsp;:&nbsp;
        </span>
        <% const hasForestLitter = !!stocks[subtype].forestLitterDensity %>
        <span class="captioned-value fr-col-2">
          <span class="v fr-text--lg"><%= round(stocks[subtype].groundDensity) %> tC/ha</span>
          <span class="c fr-text--sm">sol (30 cm)</span>
        </span>
        <span class="fr-col-1" style="text-align: center;">+</span>
        <span class="captioned-value <%= hasForestLitter ? 'fr-col-2' : 'fr-col-3' %>">
          <span class="v fr-text--lg"><%= round(stocks[subtype].biomassDensity) %> tC/ha</span>
          <span class="c fr-text--sm">biomasse</span>
        </span>
        <% if (hasForestLitter) { %>
          <span class="fr-col-1" style="text-align: center;">+</span>
          <span class="captioned-value fr-col-2">
            <span class="v fr-text--lg"><%= round(stocks[subtype].forestLitterDensity) %> tC/ha</span>
            <span class="c fr-text--sm">litière</span>
          </span>
        <% } %>
        <span class="fr-col-1" style="text-align: center;">≈</span>
        <span class="captioned-value fr-col-2">
          <span class="v fr-text--lg"><%= round(stocks[subtype].totalDensity) %></span>
          <span class="c fr-text--sm">total (tC/ha)</span>
        </span>
      </p>
    </li>
  <% } %>
</ul>
<p>Stocks&nbsp;:</p>
<ul class="fr-my-2w">
  <% for( const subtype of stocks[stocksId].children ) { %>
    <li class="fr-my-1w">
      <p class="formula">
        <span class="fr-col-2 fr-text--sm fr-mr-2w hyphenate">
          <%= allGroundTypes.find((g) => g.stocksId === subtype).shortName %>&nbsp;:&nbsp;
        </span>
        <span class="captioned-value fr-col-2">
          <span class="v fr-text--lg"><%= round(stocks[subtype].totalDensity) %></span>
          <span class="c fr-text--sm">total (tC/ha)</span>
        </span>
        <span class="fr-col-1" style="text-align: center;">x</span>
        <% const subtypeName = pascalCase(allGroundTypes.find((g) => g.stocksId === subtype).stocksId) %> 
        <span class="captioned-value fr-col-3">
          <input
            class="fr-input fr-text--lg"
            type="number"
            inputmode="numeric"
            min="0"
            placeholder="<%= round(stocks[subtype].originalArea) %>"
            value="<%= stocks[subtype].areaModified ? round(stocks[subtype].area) : undefined %>"
            id="surface_<%= subtypeName %>"
            name="surface_<%= subtypeName %>"
          >
          <label class="fr-label fr-text--sm" for="surface_<%= subtypeName %>">surface (ha)</label>
        </span>
        <span class="fr-col-1" style="text-align: center;">≈</span>
        <span class="captioned-value fr-col-2">
          <span class="v fr-text--lg"><%= round(stocks[subtype].totalReservoirStock) %></span>
          <span class="c fr-text--sm">total (tC)</span>
        </span>
      </p>
    </li>
  <% } %> 
</ul>
<br />
<button class="fr-btn" type="submit">
  Mettre à jour la surface
</button>
