<p class="fr-text--sm fr-mb-1w">Comment est-ce que c'est calculé&nbsp;?</p>
<p>Stocks de référence par unité de surface par réservoir&nbsp;:</p>
<p class="fr-container formula fr-my-2w">
  <span class="captioned-value fr-col-3">
  <span class="v fr-text--lg"><%= round(stock.groundDensity) %> tC/ha</span>
  <span class="c fr-text--sm">sol (30 cm)</span>
</span>
<span class="fr-col-1" style="text-align: center;">+</span>
<span class="captioned-value fr-col-3">
  <span class="v fr-text--lg"><%= round(stock.biomassDensity) %> tC/ha</span>
  <span class="c fr-text--sm">biomasse</span>
</span>
<span class="fr-col-1" style="text-align: center;">≈</span>
<span class="captioned-value fr-col-3">
  <span class="v fr-text--lg"><%= round(stock.totalDensity) %> tC/ha</span>
  <span class="c fr-text--sm">total</span>
</span>
</p>
<p>Stocks&nbsp;:</p>
<p class="fr-container formula fr-my-2w">
  <span class="captioned-value fr-col-3">
    <span class="v fr-text--lg"><%= round(stock.totalDensity) %> tC/ha</span>
    <span class="c fr-text--sm">total</span>
  </span>
  <span class="fr-col-1" style="text-align: center;">x</span>
  <span class="captioned-value fr-col-3">
    <input
      class="fr-input fr-text--lg"
      type="number"
      inputmode="numeric"
      value="<%= round(stock.area) %>"
      id="surface-<%= index %>"
      name="surface_<%= pascalCase(groundTypes[index].stocksId) %>"
    >
    <label class="fr-label fr-text--sm" for="surface-<%= index %>">surface (ha)</label>
  </span>
  <span class="fr-col-1" style="text-align: center;">≈</span>
  <span class="fr-col-3 fr-text--lg"><%= round(stock.stock) %> tC</span>
</p>
<button class="fr-btn" type="submit">
  Mettre à jour la surface
</button>
