<%- include('partials/header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <div class="fr-py-6w">
      <h1>Calculer le stock et les flux de carbone sur votre territoire</h1>

      <div class="fr-container-fluid fr-my-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
          <form method="GET" class="fr-col-12 fr-col-md-8">
            <div class="fr-search-bar fr-search-bar--lg" id="search-2" role="search">
              <label class="fr-label" for="epci-search">
                Nom/SIREN de l'EPCI
              </label>
              <input class="fr-input" placeholder="Taper le nom ou SIREN de l'EPCI..." type="search" id="epci-search" name="epci" list="epci-names" required>
              <button class="fr-btn" title="Rechercher" type="submit">
                Rechercher
              </button>
              <datalist id="epci-names">
                <% for (let index = 0; index < epcis.length; index++) {%>
                  <option value="<%= epcis[index].code %>"><%= epcis[index].nom %> (<%= epcis[index].code %>)</option>
                <%} %>
              </datalist>
            </div>
          </form>
        </div>
      </div>
    </div>

    <h2>Aldo : qu'est-ce que c'est ?</h2>
    <p>A l’échelle globale, les sols et les forêts (y compris les produits issus du bois) stockent, sous forme de biomasse vivante ou morte, 3 à 4 fois plus de carbone que l’atmosphère. Toute variation négative ou positive de ces stocks, même relativement faible, peut influer sur les émissions de gaz à effet de serre. Pour aider les territoires à intégrer la séquestration carbone dans leur diagnostic, l’ADEME propose cet outil « ALDO » qui propose, à l’échelle des EPCI, des valeurs par défaut pour&nbsp;:</p>
    <ul>
      <li>L’état des stocks de carbone organique des sols, de la biomasse et des produits bois en fonction de l’aménagement de son territoire (occupation du sol) ;</li>
      <li>La dynamique actuelle de stockage ou de déstockage liée aux changement d’affectation des sols, aux forêts et aux produits bois en tenant compte du niveau actuel des prélèvements de biomasse ;</li>
      <li>Les potentiels de séquestration nette de CO<sub>2</sub> liés à diverses pratiques agricoles pouvant être mises en place sur le territoire.</li>
    </ul>
    <p class="fr-mt-3w">En l’état actuel, l’outil n’inclue pas dans son périmètre les territoires d’outre-mer. Il est recommandé d’affiner le diagnostic avec des données locales.</p>
    <p class="fr-text--sm fr-mt-1w"><a href="https://docs.datagir.ademe.fr/documentation-aldo" target="_blank" rel="noopener noreferrer">Lire plus de l'outil Aldo</a></p>
  </div>
</main>
<%- include('partials/footer') -%>
