<%- include('partials/search-header') -%>
<main role="main" id="contenu">
  <div class="fr-container fr-py-6w fr-px-2w">

    <% if (epci.code) { %>
      <h1><%= epci.nom %></h1>

      <p>SIREN : <%= epci.code %></p>
      <p>Population : <%= epci.populationTotale %></p>

      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-81"><%= epci.membres.length %> communes</button>
        </h3>
        <div class="fr-collapse" id="accordion-81">
          <ul>
            <!-- TODO: split across columns -->
              <% for( let index = 0; index < epci.membres.length; index++ ) { %>
                <li><%= epci.membres[index].nom %> </li>
              <% } %>
          </ul>
        </div>
      </section>

      <div class="fr-table fr-table--no-scroll fr-my-3w">
        <table>
            <caption>Stocks de carbone</caption>
            <thead>
                <tr>
                    <th scope="col">Type de sol</th>
                    <th scope="col">Stocks carbone (tC)</th>
                </tr>
            </thead>
            <tbody>
              <% for( let index = 0; index < groundTypes.length; index++ ) { %>
                <tr>
                  <td><%= groundTypes[index].name %></td>
                  <td>
                    <% if (stocks[groundTypes[index].stocksId] !== undefined) { %>
                      <%= formatNumber(stocks[groundTypes[index].stocksId]) %>
                    <% } else { %>
                      <i>à venir</i>
                    <% } %>
                  </td>
                </tr>
              <% } %>
            </tbody>
        </table>
      </div>
    <% } else { %>
      <h1>Aucun EPCI trouvé</h1>
    <% } %>
  </div>
</main>
<%- include('partials/footer') -%>
