<%- include('partials/search-header') -%>
  <main role="main" id="contenu">
    <div class="fr-container fr-py-6w fr-px-2w">

      <div class="fr-grid-row fr-grid-row--right no-print">
        <button onclick="window.print()" class="fr-btn fr-btn--secondary">
          Imprimer cette page
        </button>
      </div>

      <% if (epci.code) { %>
        <h1>
          <%= epci.nom %>
        </h1>
        <p>
          SIREN : <%= epci.code %>
        </p>
        <p>
          Population : <%= formatNumber(epci.populationTotale) %>
        </p>

        <% if (epci.membres) { %>
          <section class="fr-accordion">
            <p class="fr-accordion__title">
              <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-communes">
                <%= epci.membres.length %> communes
              </button>
            </p>
            <div class="fr-collapse" id="accordion-communes">
              <ul>
                <div class="fr-grid-row">
                  <% for( let index=0; index < epci.membres.length; index++ ) { %>
                    <div class="fr-col-12 fr-sm-col-6 fr-col-md-4">
                      <li>
                        <%= epci.membres[index].nom %>
                      </li>
                    </div>
                    <% } %>
                </div>
              </ul>
            </div>
          </section>
        <% } else { %>
          <p>
            <%= epci.nombreCommunes %> communes
          </p>
        <% } %>
        <form action="/territoire" method="GET" class="fr-tabs fr-mt-4w">
          <input type="hidden" name="epci" value="<%= epci.nom %>" />
          <ul class="fr-tabs__list" role="tablist" aria-label="Données du territoire">
            <li role="presentation">
              <button type="button" id="tabpanel-stocks" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-stocks-panel" data-fr-js-tab-button="true">Stocks</button>
            </li>
            <li role="presentation">
              <button type="button" id="tabpanel-flux" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-flux-panel" data-fr-js-tab-button="true">Flux</button>
            </li>
            <li role="presentation">
              <button type="button" id="tabpanel-config" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-config-panel" data-fr-js-tab-button="true">Configuration</button>
            </li>
          </ul>
          <div id="tabpanel-stocks-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" data-fr-js-tab-panel="true" aria-labelledby="tabpanel-stocks" tabindex="0">
            <div class="fr-grid-row fr-mt-3w">
              <div class="fr-table fr-table--no-scroll fr-col-12 fr-col-md-6 fr-pr-md-1w">
                <table>
                  <caption><h2>Stocks de carbone</h2></caption>
                  <thead>
                    <tr class="expandable-row-header stocks-row">
                      <th scope="col">Occupation du sol</th>
                      <th scope="col">Surface (ha)</th>
                      <th scope="col">Stocks carbone (tC)</th>
                      <th scope="col">Stocks proportion</th>
                      <td scope="col"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <% for( let index=0; index < groundTypes.length; index++ ) { %>
                      <% const groundType = groundTypes[index] %>
                      <% const thisStock = stocks[groundType.stocksId] %>
                      <!-- TODO: make row blue if area modified -->
                      <tr class="expandable-row stocks-row">
                        <td onClick='toggleRow(this)'>
                          <%= groundType.name %> <%= thisStock.areaModified ? '*' : '' %>
                        </td>
                        <td onClick='toggleRow(this)' style="text-align: right;">
                          <% if (thisStock.area !==undefined) { %>
                            <%= formatNumber(thisStock.area) %>
                          <% } else { %>
                            <i>Pas applicable</i>
                          <% } %>
                        </td>
                        <td onClick='toggleRow(this)' style="text-align: right;">
                          <%= formatNumber(thisStock.stock) %>
                        </td>
                        <td onClick='toggleRow(this)' style="text-align: right;">
                          <% if (thisStock.stockPercentage> 10) { %>
                            <b>
                              <%= formatNumber(thisStock.stockPercentage) %> %
                            </b>
                          <% } else { %>
                            <%= formatNumber(thisStock.stockPercentage) %> %
                          <% } %>
                        </td>
                        <td onClick='toggleRow(this)'>
                          <button onClick='toggleRow(this)' type="button">
                            <span class="fr-fi-question-line" aria-hidden="true" style="color: #555"></span>
                          </button>
                        </td>
                        <td class='expanded-row-content hide-row'>
                          <!-- TODO: reset input values if URL doesn't contain the relevant query value -->
                          <% if (simpleStocks.indexOf(groundTypes[index].stocksId)> -1) { %>
                            <%- include('stockCalculations/simple', {index, stock: thisStock }) -%>
                          <% } else if (thisStock.children) { %>
                            <%- include('stockCalculations/subtypes', {index}) -%>
                          <% } else if (groundTypes[index].stocksId === 'produits bois' ) { %>
                            <%- include('stockCalculations/wood', {index, stock: thisStock, woodCalculation }) -%>
                          <% } %>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
                <% if (hasModifiedArea) { %>
                  <p class="fr-text--sm fr-mt-1w">* Surface modifiée</p>
                <% } %>
                <!-- TODO: reset stocks areas button -->
                <p class="fr-text--sm fr-mt-1w"><a href="https://docs.datagir.ademe.fr/documentation-aldo/stocks/occupation-du-sol-et-foret" target="_blank" rel="noopener noreferrer">Lire plus de nos méthodes de calcul</a></p>
              </div>
              <!-- TODO: test a11y of these charts -->
              <div class="fr-col-12 fr-col-sm-10 fr-col-md-6 fr-pt-6w">
                <h3>Résultats graphiques</h3>
                <ul class="fr-accordions-group" data-fr-js-accordions-group="true">
                  <% for (let keyIdx=0; keyIdx < Object.keys(charts).length; keyIdx++) { %>
                    <li>
                      <section class="fr-accordion">
                        <h4 class="fr-accordion__title">
                          <button type="button" class="fr-accordion__btn" aria-expanded="<%= keyIdx === 0 %>"
                            aria-controls="accordion-chart-<%= keyIdx %>">
                            <%= charts[Object.keys(charts)[keyIdx]].title %>
                          </button>
                        </h4>
                        <div class="fr-collapse" id="accordion-chart-<%= keyIdx %>">
                          <canvas id="chart-<%= Object.keys(charts)[keyIdx] %>" width="400" height="400"></canvas>
                        </div>
                      </section>
                    </li>
                    <% } %>
                </ul>
              </div>
            </div>
          </div>
          <div id="tabpanel-flux-panel" class="fr-tabs__panel" role="tabpanel" data-fr-js-tab-panel="true" aria-labelledby="tabpanel-flux" tabindex="0">
            <div class="fr-grid-row fr-mt-3w">
              <div class="fr-col-12 fr-col-md-7 fr-pr-md-1w fr-table fr-table--no-scroll">
                <table>
                  <caption><h2>Flux de carbone</h2></caption>
                  <thead>
                    <tr class="expandable-row-header stocks-row">
                      <th scope="col">Occupation du sol finale</th>
                      <th scope="col">Sequestration tCO2e / an</th>
                      <td scope="col"></td>
                      <td scope="col"></td>
                      <td scope="col"></td>
                    </tr>
                  </thead>
                  <tbody>
                    <% for( let index=0; index < sortedFluxKeys.length; index++ ) { %>
                      <% const groundType = sortedFluxKeys[index] %>
                      <% const thisFlux = fluxSummary[groundType.stocksId] %>
                      <!-- TODO: make row blue if area modified -->
                      <tr class="expandable-row flux-row">
                        <td onClick='toggleRow(this)'>
                          <%= groundType.name %> <%= thisFlux?.areaModified ? '*' : '' %>
                        </td>
                        <td onClick='toggleRow(this)' style="text-align: right;">
                          <% if (thisFlux) { %>
                            <%= formatNumber(thisFlux.totalSequestration) %>
                          <% } else { %>
                            <i>Pas de données</i>
                          <% } %>
                        </td>
                        <td onClick='toggleRow(this)'>
                          <% if (!thisFlux || Math.abs(thisFlux.totalSequestration) < 0.5) { %>
                            <!-- no change -->
                          <% } else if (thisFlux.totalSequestration > 0) { %>
                            <!-- colour = 'succès' -->
                            <span style="color: #1f8d49;">séquestration</span>
                          <% } else { %>
                            <!-- rouge marianne -->
                            <span style="color: #e1000f;">émission</span>
                          <% } %>
                        </td>
                        <td onClick='toggleRow(this)'>
                          <button onClick='toggleRow(this)' type="button">
                            <span class="fr-fi-question-line" aria-hidden="true" style="color: #555"></span>
                          </button>
                        </td>
                        <td class='expanded-row-content hide-row'>
                          <% if (!thisFlux) { %>
                            <p>Pas de données.</p>
                          <% } else if (Math.abs(thisFlux.totalSequestration) < 0.5) { %>
                            <p>Aucun changement du sol enregistré.</p>
                          <% } else if (groundType.stocksId === 'produits bois') { %>
                            <p>À venir</p>
                          <% } else if (!groundType.children) { %>
                            <p class="fr-text--sm fr-mb-1w">
                              Les flux annuels liés aux changements du surface vers <%= groundType.name.toLowerCase() %>&nbsp;:
                            </p>
                            <%- include('fluxCalculations/simple', { groundType: groundType.stocksId }) -%>
                          <% } else if(groundType.stocksId !== 'forêts') { %>
                            <!-- Prairies, sols artificiels -->
                            <% for (const child of groundType.children) { %>
                              <% if(!Math.abs(fluxSummary[child]?.totalSequestration) < 0.5) { %>
                                <p class="fr-text--sm fr-mb-1w">Vers <%= child %></p>
                                <%- include('fluxCalculations/simple', { groundType: child }) -%>
                                <br/>
                              <% } %>
                            <% } %>
                          <% } else { %>
                            <p>À venir</p>
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
                <% if (hasModifiedAreaChange) { %>
                  <p class="fr-text--sm fr-mt-1w">* Changement du surface modifiée</p>
                <% } %>
                <p class="fr-text--sm fr-mt-1w"><a href="https://docs.datagir.ademe.fr/documentation-aldo/flux/occupation-du-sol-et-foret" target="_blank" rel="noopener noreferrer">Lire plus de nos méthodes de calcul</a></p>
              </div>
              <div class="fr-col-12 fr-col-sm-10 fr-col-md-5 fr-pt-6w">
                <h3>Résultats graphiques</h3>
                <ul class="fr-accordions-group" data-fr-js-accordions-group="true">
                  <% for (let keyIdx=0; keyIdx < Object.keys(fluxCharts).length; keyIdx++) { %>
                    <li>
                      <section class="fr-accordion">
                        <h4 class="fr-accordion__title">
                          <button type="button" class="fr-accordion__btn" aria-expanded="<%= keyIdx === 0 %>"
                            aria-controls="accordion-flux-chart-<%= keyIdx %>">
                            <%= fluxCharts[Object.keys(fluxCharts)[keyIdx]].title %>
                          </button>
                        </h4>
                        <div class="fr-collapse" id="accordion-flux-chart-<%= keyIdx %>">
                          <canvas id="fluxChart-<%= Object.keys(fluxCharts)[keyIdx] %>" width="400" height="500"></canvas>
                        </div>
                      </section>
                    </li>
                    <% } %>
                </ul>
              </div>
            </div>
            <div class="fr-col-12 fr-pr-md-1w fr-table">
              <table>
                <caption><h2>Changements du surface (ha)</h2></caption>
                <thead>
                  <tr>
                    <td></td>
                    <% for( const to of fluxIds ) { %>
                      <th scope="col" class="flux-surface-col"><%= allGroundTypes.find(gt => gt.altFluxId === to || gt.fluxId === to).name %></th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                  <% for( const from of fluxIds ) { %>
                    <tr>
                      <% const fromDetail = allGroundTypes.find(gt => gt.altFluxId === from || gt.fluxId === from) %>
                      <td scope="row"><%= fromDetail.name %></td>
                      <% for( const to of fluxIds ) { %>
                        <td>
                          <% if (from !== to) { %>
                            <% const toDetail = allGroundTypes.find(gt => gt.altFluxId === to || gt.fluxId === to) %>
                            <% let thisFlux = allFlux.filter(f => f.from === fromDetail.stocksId && f.to === toDetail.stocksId && f.gas === 'C') %>
                            <% thisFlux = thisFlux.length ? thisFlux[0] : undefined %>
                            <!-- TODO: make it possible to up to 1 decimal place? -->
                            <input
                              class="fr-input fr-text--lg"
                              type="number"
                              inputmode="numeric"
                              min="0"
                              placeholder="<%= thisFlux?.originalArea ? formatNumber(thisFlux.originalArea, 1) : '-' %>"
                              value="<%= thisFlux?.areaModified ? formatNumber(thisFlux.area, 1) : '-' %>"
                              id="change_<%= from %>_<%= to %>"
                              name="change_<%= from %>_<%= to %>"
                            >
                          <% } %>
                        </td>
                      <% } %>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              <button class="fr-btn fr-mt-2w" type="submit">
                Mettre à jour les surfaces
              </button>
            </div>
          </div>
          <div id="tabpanel-config-panel" class="fr-tabs__panel" role="tabpanel" data-fr-js-tab-panel="true" aria-labelledby="tabpanel-config" tabindex="0">
            <%- include('partials/shared-configuration') -%>
          </div>
        </form>
      </div>
      <% } else { %>
        <h1>Aucun EPCI trouvé</h1>
      <% } %>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  <script>
    // thanks to https://github.com/chhikaradi1993/Expandable-table-row
    const toggleRow = (element) => {
      if (element.nodeName === "BUTTON") {
        element = element.parentElement;
      }
      element.parentElement.getElementsByClassName('expanded-row-content')[0].classList.toggle('hide-row');
      event.stopPropagation();
    }

    Chart.register(ChartDataLabels);
    Chart.defaults.set('plugins.datalabels', {
      anchor: 'end',
      display: 'auto'
    });

    const groundTypeCtx = document.getElementById('chart-groundType');
    const groundTypeChartData = JSON.parse(`<%- charts.groundType.data %>`);
    new Chart(groundTypeCtx, groundTypeChartData);

    const ctx = document.getElementById('chart-reservoir');
    const chartData = JSON.parse(`<%- charts.reservoir.data %>`);
    new Chart(ctx, chartData);

    const densityCtx = document.getElementById('chart-density');
    const densityChartData = JSON.parse(`<%- charts.density.data %>`);
    new Chart(densityCtx, densityChartData);

    const groundAndLitterCtx = document.getElementById('chart-groundAndLitter');
    const groundAndLitterChartData = JSON.parse(`<%- charts.groundAndLitter.data %>`);
    new Chart(groundAndLitterCtx, groundAndLitterChartData);

    const biomassCtx = document.getElementById('chart-biomass');
    const biomassChartData = JSON.parse(`<%- charts.biomass.data %>`);
    new Chart(biomassCtx, biomassChartData);

    const fluxReservoirCtx = document.getElementById('fluxChart-reservoir');
    const fluxReservoirChartData = JSON.parse(`<%- fluxCharts.reservoir.data %>`);
    new Chart(fluxReservoirCtx, fluxReservoirChartData);

    const fluxGrountCtx = document.getElementById('fluxChart-groundType');
    const fluxGroundChartData = JSON.parse(`<%- fluxCharts.groundType.data %>`);
    new Chart(fluxGrountCtx, fluxGroundChartData);
  </script>
  <%- include('partials/footer') -%>