<%- include('page-setup') -%>
<div class="fr-skiplinks">
  <nav class="fr-container" role="navigation" aria-label="Accès rapide">
      <ul class="fr-skiplinks__list">
          <li>
              <a class="fr-nav__link" href="#contenu">Contenu</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#header-navigation">Menu</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#header-search">Recherche</a>
          </li>
          <li>
              <a class="fr-nav__link" href="#footer">Pied de page</a>
          </li>
      </ul>
  </nav>
</div>

<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
            <div class="fr-header__operator fr-responsive-img">
              <%- include('ademe-logo') -%>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - <%= appName %>">
              <p class="fr-header__service-title"><%= appName %></p>
            </a>
            <p class="fr-header__service-tagline"><%= appDescription %></p>
          </div>
        </div>

        <div class="fr-header__tools">
          <div class="fr-header__search fr-modal" id="modal-851">
            <div class="fr-container fr-container-lg--fluid">
              <button class="fr-link--close fr-link" aria-controls="modal-851">Fermer</button>
              <form action="/territoire" method="GET">
                <div class="fr-search-bar" id="search-850" role="search">
                  <label class="fr-label" for="search-850-input">Nom EPCI</label>
                  <input class="fr-input" placeholder="Nom EPCI" type="search" id="search-850-input" name="epci" list="epci-names" required>
                  <button class="fr-btn" title="Rechercher">
                      Rechercher
                  </button>
                  <datalist id="epci-names">
                    <% for (let index = 0; index < epcis.length; index++) {%>
                      <option value="<%= epcis[index].nom %>"><%= epcis[index].nom %></option>
                    <%} %>
                  </datalist>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
