<div class="fr-form-group">
  <h2>Pratiques agricoles</h2>
  <p>Pratiques mises en place il y a moins de 20 ans (effet moyen pendant 20 ans - références nationales)</p>
  <div class="fr-container">
    <div class="fr-grid-row">
      <% for(practice of agriculturalPractices) { %>
        <div class="fr-col-12 fr-col-md-6">
          <label class="fr-label fr-text--sm fr-mb-1w" for="ap_<%= practice.url %>"><%= practice.name %></label>
          <input
            class="fr-input fr-text--lg fr-col-6"
            type="number"
            inputmode="numeric"
            min="0"
            placeholder="0"
            value="<%= agriculturalPracticesEstablishedAreas[practice.id] %>"
            id="ap_<%= practice.url %>"
            name="ap_<%= practice.url %>"
          >
        </div>
      <% } %>
    </div>
    <button class="fr-btn" type="submit">
      Mettre à jour le calcul
    </button>
  </div>
</div>
<p class="fr-text--sm fr-mt-1w">
  <a href="https://docs.datagir.ademe.fr/documentation-aldo/flux/pratiques-agricoles" target="_blank" rel="noopener noreferrer">
    Lire plus de nos méthodes de calcul
  </a>
</p>
