<div class="fr-form-group">
  <div class="fr-container fr-px-0">
    <div class="fr-grid-row" style="justify-content: space-between; align-items: center;">
      <h2>Pratiques agricoles</h2>
      <p class="fr-text--sm fr-mt-1w">
        <a href="https://aldo-documentation.territoiresentransitions.fr/aldo-documentation/flux/pratiques-agricoles" target="_blank" rel="noopener noreferrer">
          En savoir plus sur les méthodes de calculs
        </a>
      </p>
    </div>
  </div>
  <p>
    Les pratiques agricoles stockantes mises en place depuis moins de 20 ans,
    ou envisagées dans les prochaines années, sont exprimées par hectare.
    Leur potentiel stockant est donné en tonnes de carbone par hectare et par an.
    La séquestration est ici considérée durer pendant 20 ans avant d'atteindre
    un état d'équilibre ("saturation").
  </p>
  <fieldset class="fr-container fr-pb-3w">
    <legend class="fr-mb-1w">Cumul des surfaces implantées sur les 20 dernières années</legend>
    <div class="fr-grid-row">
      <% for(practice of agriculturalPractices) { %>
        <div class="fr-col-12 fr-col-md-5">
          <label class="fr-label fr-text--sm fr-mb-1w" for="ap_<%= practice.url %>"><%= practice.name %></label>
          <div class="fr-grid-row fr-grid-row--middle">
            <input
              class="fr-input fr-text--lg fr-col-6"
              type="number"
              inputmode="numeric"
              min="0"
              placeholder="0"
              value="<%= agriculturalPracticesEstablishedAreas[practice.id] %>"
              id="ap_<%= practice.url %>"
              name="ap_<%= practice.url %>"
            >
            <p class="fr-ml-1w fr-col-1">ha</p>
          </div>
        </div>
      <% } %>
    </div>
    <button class="fr-btn" type="submit">
      Mettre à jour le calcul
    </button>
  </fieldset>
</div>
