<div class="fr-form-group">
  <div class="fr-container fr-px-0">
    <div class="fr-grid-row" style="justify-content: space-between; align-items: center;">
      <h2>Pratiques agricoles</h2>
      <p class="fr-text--sm fr-mt-1w">
        <a href="https://docs.datagir.ademe.fr/documentation-aldo/flux/pratiques-agricoles" target="_blank" rel="noopener noreferrer">
          En savoir plus sur les méthodes de calculs
        </a>
      </p>
    </div>
  </div>
  <fieldset class="fr-container fr-pb-3w">
    <legend class="fr-mb-1w">Surface implantée depuis moins de 20 ans</legend>
    <div class="fr-grid-row">
      <% for(practice of agriculturalPractices) { %>
        <div class="fr-col-12 fr-col-md-6">
          <label class="fr-label fr-text--sm fr-mb-1w" for="ap_<%= practice.url %>"><%= practice.name %></label>
          <div class="fr-grid-row fr-grid-row--middle">
            <input
              class="fr-input fr-text--lg fr-col-6"
              type="number"
              inputmode="numeric"
              min="0"
              placeholder="0"
              value="<%= agriculturalPracticesEstablishedAreas[practice.id] %>"
              id="ap_<%= practice.url %>"
              name="ap_<%= practice.url %>"
            >
            <p class="fr-ml-1w fr-col-1">ha</p>
          </div>
        </div>
      <% } %>
    </div>
    <button class="fr-btn" type="submit" formaction="<%= baseUrl %>/flux">
      Mettre à jour le calcul
    </button>
  </fieldset>
</div>
