<h1>
  <%= epci.nom %>
</h1>

<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-3">
    <p>
      SIREN : <%= epci.code %>
    </p>
    <p>
      Population : <%= formatNumber(epci.populationTotale) %>
    </p>
  </div>
  <div class="fr-col" style="text-align: right;">
    <p class="fr-mt-2w">
      <a href="<%= baseUrl %>/tableur<%= sharingQueryStr %> " download class="fr-btn fr-btn--secondary">Télécharger en format Excel</a>
    </p>
  </div>
</div>

<% if (epci.membres.length) { %>
  <section class="fr-accordion">
    <p class="fr-accordion__title">
      <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-communes">
        <%= epci.membres.length %> communes
      </button>
    </p>
    <div class="fr-collapse" id="accordion-communes">
      <ul>
        <div class="fr-grid-row">
          <% for( let index=0; index < epci.membres.length; index++ ) { %>
            <div class="fr-col-12 fr-sm-col-6 fr-col-md-4">
              <li>
                <%= epci.membres[index] %>
              </li>
            </div>
            <% } %>
        </div>
      </ul>
    </div>
  </section>
<% } else { %>
  <p>
    <%= epci.nombreCommunes %> commune<%= epci.nombreCommunes === 1 ? '' : 's' %>
  </p>
<% } %>
<div class="fr-callout fr-my-3w">
  <p class="fr-callout__title fr-mb-1w">
    Une <%= fluxTotal > 0 ? "séquestration" : "émission" %>
    nette de carbone de
    <%= formatNumber(Math.abs(fluxTotal)/1000, 1) %> ktCO<sub>2</sub>e / an
    et un stock total de
    <%= formatNumber(stockTotal/1000000, 1) %> MtC,
    à préserver !
  </p>
  <p class="fr-callout__text fr-mb-1w">
    Si tout ce stock de carbone était réémis vers l'atmosphère, cela représenterait une émission de
    <%= formatNumber(stockTotalEquivalent/1000) %> ktCO2e.
    À ce jour, il y a une <%= fluxTotal > 0 ? "augmentation" : "réduction" %> de
    <%= formatNumber(Math.abs(fluxTotal)/stockTotal * 100, 1) %> % du stock par an.
  </p>
  <% if (beges) { %>
    <p>
      À titre de comparaison, ce flux de carbone
      <%= fluxTotal > 0 ? "séquetre" : "émet" %>
      <%= formatNumber(fluxTotal/beges * 100) %> % du BEGES<%= perimetre ? ` ${perimetre}` : '' %>,
      donc de ce qui est émit chaque année par le territoire.
    </p>
  <% } else { %>
    <p class="fr-text--xs">
      Ajoutez le Bilan GES de Territoire dans <a href="<%= baseUrl %>/configuration<%= sharingQueryStr %> ">l'onglet configuration</a>.
    </p>
  <% } %>
</div>
