<h1 class="fr-mt-6w">
  <%= pageTitle %>
</h1>

<% if (singleLocation?.code) { %>
<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-3">
    <p>
      SIREN : <%= singleLocation.code %>
    </p>
    <p>
      Population : <%= formatNumber(singleLocation.population) %>
    </p>
  </div>
  <div class="fr-col" style="text-align: right;">
    <p class="fr-mb-1w">
      <a href="/epci/<%= singleLocation.code %>/tableur<%= sharingQueryStr %>" download class="fr-btn fr-btn--secondary">
        Télécharger en format Excel
      </a>
    </p>
    <p class="fr-text--sm fr-sm-mb-0">
      <a href="https://docs.datagir.ademe.fr/documentation-aldo/" target="_blank" rel="noopener noreferrer">
        Documentation
      </a>
    </p>
  </div>
</div>

<% if (singleLocation?.communes.length) { %>
<section class="fr-accordion">
  <p class="fr-accordion__title">
    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-communes">
      <%= singleLocation.communes.length %> communes
    </button>
  </p>
  <div class="fr-collapse" id="accordion-communes">
    <ul>
      <div class="fr-grid-row">
        <% for( let index=0; index < communes.length; index++ ) { %>
          <li class="fr-col-12 fr-sm-col-6 fr-col-md-4">
            <a href="/commune/<%= communes[index].insee %>"><%= communes[index].nom %> (<%= communes[index].insee %>)</a>
          </li>
        <% } %>
      </div>
    </ul>
  </div>
</section>
<% } else { %>
<p>
  <%= singleLocation.nombreCommunes %> commune<%= singleLocation.nombreCommunes === 1 ? '' : 's' %>
</p>
<% } %>
<% } else if (singleLocation?.insee) { %>
<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-3">
    <p>
      INSEE : <%= singleLocation.insee %>
    </p>
    <p>
      Population : <%= formatNumber(singleLocation.population) %>
    </p>
    <p>
      SIREN EPCI : <a href="/epci/<%= singleLocation.epci %>"><%= singleLocation.epci %></a>
    </p>
  </div>
  <div class="fr-col" style="text-align: right;">
    <p class="fr-mb-1w">
      <a href="/commune/<%= singleLocation.insee %>/tableur<%= sharingQueryStr %>" download class="fr-btn fr-btn--secondary">
        Télécharger en format Excel
      </a>
    </p>
    <p class="fr-text--sm fr-sm-mb-0">
      <a href="https://docs.datagir.ademe.fr/documentation-aldo/" target="_blank" rel="noopener noreferrer">
        Documentation
      </a>
    </p>
  </div>
</div>
<% } %>

<% if (epcis && epcis.length) { %>
<p class="fr-mb-0">EPCI :</p>
<ul>
  <% for( let index=0; index < epcis.length; index++ ) { %>
    <li>
      <a href="/epci/<%= epcis[index].code %>"><%= epcis[index].nom %> (<%= epcis[index].code %>)</a>
    </li>
  <% } %>
</ul>
<% } %>
<% if (location.communes && location.communes.length) { %>
<p class="fr-mb-0">Commune :</p>
<ul>
  <% for( let index=0; index < location.communes.length; index++ ) { %>
    <li>
      <a href="/commune/<%= location.communes[index].insee %>"><%= location.communes[index].nom %> (<%= location.communes[index].insee %>)</a>
    </li>
  <% } %>
</ul>
<% } %>

<div class="fr-callout fr-my-3w">
  <p class="fr-callout__title fr-mb-1w">
    Une <%= fluxTotal > 0 ? "séquestration" : "émission" %>
    nette de carbone de
    <%= formatNumber(Math.abs(fluxTotal)/1000, 1) %> ktCO<sub>2</sub>e / an
    et un stock total de
    <%= formatNumber(stockTotal/1000000, 1) %> MtC,
    à préserver&nbsp;!
  </p>
  <p class="fr-callout__text fr-mb-0">
    Si tout ce stock de carbone était réémis vers l'atmosphère, cela représenterait une émission de
    <%= formatNumber(stockTotalEquivalent/1000) %> ktCO2e.
    À ce jour, il y a une <%= fluxTotal > 0 ? "augmentation" : "réduction" %> de
    <%= formatNumber(Math.abs(fluxTotal)/stockTotal * 100, 1) %> % du stock par an.
  </p>
  <% if (beges) { %>
  <p class="fr-mt-1w">
    À titre de comparaison, ce flux de carbone
    <%= fluxTotal > 0 ? "séquetre" : "émet" %>
    <%= formatNumber(fluxTotal/beges * 100) %> % du BEGES<%= perimetre ? ` ${perimetre}` : '' %>,
    donc de ce qui est émit chaque année par le territoire.
  </p>
  <% } else { %>
    <button class="fr-btn fr-btn--sm fr-btn--secondary to-config">
      Ajoutez le Bilan GES de Territoire dans l'onglet configuration
    </button>
  <% } %>
</div>