<div class="fr-col-12 fr-pr-md-1w fr-table fr-mt-8w">
  <table>
    <caption>
      <h2>Changements de surface (ha)</h2>
      <p class="fr-text--sm fr-mt-2w" style="font-weight: normal;">
        Les surfaces d’Occupation du Sol sont issues des inventaires Corine Land Cover 2012 et 2018. Vous pouvez les mettre à jour ci-dessous si vous avez des données locales.
      </p>
    </caption>
    <thead>
      <tr>
        <td></td>
        <th colspan="<%= fluxIds.length %>" class="fr-pb-0">Occupation de sol finale</th>
      </tr>
      <tr>
        <th style="font-weight: normal;" scope="col">
          Occupation de sol initiale
        </th>
        <% for( const to of fluxIds ) { %>
          <th scope="col" class="flux-surface-col"><%= allGroundTypes.find(gt => gt.altFluxId === to || gt.fluxId === to).name %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for( const from of fluxIds ) { %>
        <tr>
          <% const fromDetail = allGroundTypes.find(gt => gt.altFluxId === from || gt.fluxId === from) %>
          <th scope="row" style="font-weight: normal;"><%= fromDetail.name %></th>
          <% for( const to of fluxIds ) { %>
            <td>
              <% if (from !== to) { %>
                <% const toDetail = allGroundTypes.find(gt => gt.altFluxId === to || gt.fluxId === to) %>
                <% let thisFlux = allFlux.filter(f => f.from === fromDetail.stocksId && f.to === toDetail.stocksId && f.gas === 'C') %>
                <% thisFlux = thisFlux.length ? thisFlux[0] : undefined %>
                <input
                  class="fr-input fr-text--lg"
                  type="number"
                  inputmode="numeric"
                  step="0.1"
                  min="0"
                  placeholder="<%= thisFlux?.originalArea ? formatNumber(thisFlux.originalArea, 1) : '-' %>"
                  value="<%= thisFlux?.areaModified ? formatNumber(thisFlux.area, 1) : '-' %>"
                  id="change_<%= from %>_<%= to %>"
                  name="change_<%= from %>_<%= to %>"
                >
              <% } %>
            </td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
  <button class="fr-btn fr-mt-2w" type="submit" formaction="/territoire/flux">
    Mettre à jour les surfaces
  </button>
  <% if (fluxHaveModifications) { %>
    <a class="fr-btn fr-btn--secondary fr-ml-2w" href="<%= resetUrl %>">
      Réinitialiser
    </a>
  <% } %>
</div>