<div class="fr-mt-8w">
  <h2>Modifier les surfaces d'occupation du sol</h2>
  <p class="fr-text--sm">
    Les surfaces d’occupation du sol sont issues de l'inventaire Corine Land Cover 2018.
    Vous pouvez les mettre à jour ci-dessous si vous avez des données locales plus précises ou plus récentes.
  </p>
  <div class="fr-grid-row">
    <% for( let index=0; index < stocksGroundTypes.length; index++ ) { %>
      <% const groundType = stocksGroundTypes[index] %>
      <% const stock = stocks[groundType.stocksId] %>
      <div class="fr-col-6 fr-col-md-4">
        <label class="fr-label fr-text--sm fr-mb-1w" for="all-surface-<%= index %>">
          <%= groundType.name %>
        </label>
        <div class="fr-grid-row">
          <input
            class="fr-input fr-text--lg fr-col-9 fr-col-md-8"
            type="number"
            inputmode="numeric"
            min="0"
            placeholder="<%= round(stock.originalArea) %>"
            value="<%= stock.areaModified ? round(stock.area) : undefined %>"
            id="all-surface-<%= index %>"
            name="surface_<%= pascalCase(stocksGroundTypes[index].stocksId) %>"
          >
          <p class="fr-pt-1w fr-ml-1w">ha</p>
        </div>
      </div>
    <% } %>
  </div>
  <button class="fr-btn fr-mt-2w" type="submit">
    Mettre à jour les surfaces
  </button>
  <% if (stocksHaveModifications) { %>
    <a class="fr-btn fr-btn--secondary fr-md-ml-2w fr-mt-2w fr-md-mt-0" href="<%= getTabUrl('stocks') %><%= resetQueryStr %>">
      Réinitialiser
    </a>
  <% } %>
</div>