<div class="fr-grid-row fr-mt-3w">
  <div class="fr-table fr-col-12 fr-col-lg-9 fr-pr-md-1w">
    <!-- TODO: why does an anchor link break the table tabs? -->
    <!-- <p class="fr-mb-1w fr-text--sm"><a href="#resultatsstocks">Résultats graphiques</a></p> -->
    <table class="detail-table">
      <caption><h2>Stocks de carbone</h2></caption>
      <thead>
        <tr class="expandable-row-header stocks-row">
          <th scope="col">Occupation du sol</th>
          <th scope="col">Surface (ha)</th>
          <th scope="col">Stocks carbone (tC)</th>
          <th scope="col">Stocks (%)</th>
          <td scope="col"></td>
        </tr>
      </thead>
      <tbody>
        <% for( let index=0; index < groundTypes.length; index++ ) { %>
          <% const groundType = groundTypes[index] %>
          <% const thisStock = stocks[groundType.stocksId] %>
          <!-- TODO: make row blue if area modified -->
          <tr class="expandable-row stocks-row">
            <td onClick='toggleRow(this)'>
              <%= groundType.name %> <%= thisStock.hasModifications ? '*' : '' %>
            </td>
            <td onClick='toggleRow(this)' style="text-align: right;">
              <% if (thisStock.area !==undefined) { %>
                <%= formatNumber(thisStock.area) %>
              <% } else { %>
                <i>Pas applicable</i>
              <% } %>
            </td>
            <td onClick='toggleRow(this)' style="text-align: right;">
              <%= formatNumber(thisStock.totalStock) %>
            </td>
            <td onClick='toggleRow(this)' style="text-align: right;">
              <% if (thisStock.stockPercentage> 10) { %>
                <b>
                  <%= formatNumber(thisStock.stockPercentage) %> %
                </b>
              <% } else { %>
                <%= formatNumber(thisStock.stockPercentage) %> %
              <% } %>
            </td>
            <td onClick='toggleRow(this)'>
              <button onClick='toggleRow(this)' type="button">
                <span class="fr-fi-question-line" aria-hidden="true" style="color: #555"></span>
              </button>
            </td>
            <td class='expanded-row-content hide-row'>
              <!-- TODO: reset input values if URL doesn't contain the relevant query value -->
              <% const stocksId = groundTypes[index].stocksId %>
              <% if (simpleStocks.indexOf(stocksId) > -1) { %>
                <%- include('stockCalculations/simple', {index, stocksId, stock: thisStock }) -%>
              <% } else if (thisStock.children) { %>
                <%- include('stockCalculations/subtypes', {stocksId, stock: thisStock}) -%>
              <% } else if (stocksId === 'produits bois' ) { %>
                <%- include('stockCalculations/wood', {stock: thisStock, woodCalculation }) -%>
              <% } %>
              <!-- indicate if sols artificiels proportion was changed ? -->
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <% if (stocksHaveModifications) { %>
      <p class="fr-text--sm fr-mt-1w">* Données modifiées</p>
      <a class="fr-btn fr-btn--secondary fr-mt-1w" href="<%= resetUrl %>">
        Réinitialiser les données
      </a>
    <% } %>
    <p class="fr-text--sm fr-mt-1w">
      <a href="https://docs.datagir.ademe.fr/documentation-aldo/stocks/occupation-du-sol-et-foret" target="_blank" rel="noopener noreferrer">
        En savoir plus sur les méthodes de calculs
      </a>
    </p>
  </div>
  <!-- TODO: test a11y of these charts -->
  <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 fr-pt-2w">
    <h3>Résultats graphiques</h3>
    <ul class="fr-accordions-group" data-fr-js-accordions-group="true">
      <% for (let keyIdx=0; keyIdx < Object.keys(charts).length; keyIdx++) { %>
        <% const key = Object.keys(charts)[keyIdx] %> 
        <li>
          <section class="fr-accordion">
            <h4 class="fr-accordion__title">
              <button type="button" class="fr-accordion__btn" aria-expanded="<%= keyIdx === 0 %>"
                aria-controls="accordion-chart-<%= keyIdx %>">
                <%= charts[key].title %>
              </button>
            </h4>
            <div class="fr-collapse" id="accordion-chart-<%= keyIdx %>">
              <canvas id="chart-<%= key %>" width="400" height="400"></canvas>
            </div>
          </section>
        </li>
        <% } %>
    </ul>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script>
  Chart.register(ChartDataLabels);
  Chart.defaults.set('plugins.datalabels', {
    anchor: 'center',
    display(context) {
      // don't show labels when value === 0. Important for pie charts when dataIndex of a 0 is higher than a later data with a value > 0
      return context.dataset.data[context.dataIndex] > 0
    }
  });

  const groundTypeCtx = document.getElementById('chart-groundType');
  const groundTypeChartData = JSON.parse(`<%- charts.groundType.data %>`);
  new Chart(groundTypeCtx, groundTypeChartData);

  const ctx = document.getElementById('chart-reservoir');
  const chartData = JSON.parse(`<%- charts.reservoir.data %>`);
  new Chart(ctx, chartData);

  const densityCtx = document.getElementById('chart-density');
  const densityChartData = JSON.parse(`<%- charts.density.data %>`);
  new Chart(densityCtx, densityChartData);

  const groundAndLitterCtx = document.getElementById('chart-groundAndLitter');
  const groundAndLitterChartData = JSON.parse(`<%- charts.groundAndLitter.data %>`);
  new Chart(groundAndLitterCtx, groundAndLitterChartData);

  const biomassCtx = document.getElementById('chart-biomass');
  const biomassChartData = JSON.parse(`<%- charts.biomass.data %>`);
  new Chart(biomassCtx, biomassChartData);
</script>